<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <style>
    #map{ height: 100% }
  </style>
</head>
<body>
 
  <div id="map"></div>
 
  <script>


var sigmet = L.layerGroup();


    {% for sigmet in sigmets %}
    var polygonPoints = {{sigmet.lonlat}};
        var poly = L.polygon(polygonPoints).addTo(sigmet).bindPopup("{{sigmet.hazard}} {{sigmet.severity}}").openPopup();
    {% endfor %}

    var pirep = L.layerGroup();
    {% for pirep in pireps %}
        L.marker([{{pirep.latitude}}, {{pirep.longitude}}]).addTo(pirep).bindPopup("{{pirep.aircraft_ref}}").openPopup();
    {% endfor %}

var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXBmcmFuY2lzIiwiYSI6ImNrbGRzYzZucjA3bXgyb3FwNXd6NmpiYmUifQ.MHSJmJZjbsuZs9oduT7jJg';

var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr}),
    streets  = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});

var map = L.map('map', {
    center: [39.73, -104.99],
    zoom: 6,
    layers: [grayscale, sigmet]
});

var baseLayers = {
    "Grayscale": grayscale,
    "Streets": streets
};

var overlays = {
    "SIGMET": sigmet,
    "PIREP": pirep
};

L.control.layers(baseLayers, overlays).addTo(map);
  
</script>
</body>
</html>